* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

h2, h3, h4 {
    font-family: "Staatliches", sans-serif;
}

header{
    margin: 1px 10px 10px;
    padding: 5px;
}

.titleText {
    margin-left: 0.5%;
    margin-bottom: 1px;
}

.capitalize {
    text-transform: capitalize;
}

.cardFormat{
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 6px;
}

.recentSearchBtn {
    margin-left: 5px;
    margin-bottom: 6px;
}

/* utilies */
.borderRadius {
    border-radius: 4px;
}

.textShadow {
    text-shadow: 0px 3px 4px #5e5e5e;
}
