* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

h2, h3, h4 {
    font-family: "Staatliches", sans-serif;
}



.capitalize {
    text-transform: capitalize;
}

.cardFormat{
    padding-left: 5px;
    padding-top: 1px;
}