* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

h2, h3, h4 {
    font-family: "Staatliches", sans-serif;
}

header {
    border: 5px solid #282828;
}

.capitalize {
    text-transform: capitalize;
}